{{outlet}}
<nav class="navbar navbar-default">
  <ul class="nav navbar-nav navbar-right">
    <li><a href="#" {{action 'logout'}}>Logout</a></li>
    <li class="disabled"><a>{{user}}</a></li>
  </ul>
</nav>

<form {{action 'getInput' on='submit'}}>
  <fieldset class="form-group">
    <label for="exampleTextarea">Write your input here</label>
    <textarea class="form-control" id="exampleTextarea" rows="3" maxlength="255"></textarea>
  </fieldset>
   <button type="submit" class="btn btn-primary">Submit</button>
</form>
